body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Times New Roman', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20px;
}

.error{
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: salmon;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  text-align: center;
}

.success{
  color: green ;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: green;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
  text-align: center;

}

